# Ignore SSH private keys
terraform/*.pem

# Ignore Terraform state files that may contain sensitive data
terraform/*.tfstate
terraform/*.tfstate.backup

# Ignore local Terraform configuration files
terraform/.terraform/
terraform/.terraform.lock.hcl

ansible/*.tar.gz
